
body{
    text-align: center;
    margin-left: 0px;
}

.first-section {
    width: 100%;
    position: relative;
}

.first-section img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 70%;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    border-radius: 25px;
    padding: 8px;
}

.overlay h1 {
    color: brown;
}
.flex1 {
    display: flex;
    margin-bottom: 2%;
    margin-top: 5%;
    align-items: center;
}
.flex2 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2%;
    
}

.bonsai {
    width: 30%;
    padding-left: 20%;
    float: left;
    opacity: 0; /* Start with images hidden */
    transform: translateX(-100px); /* Start with images below the view */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.bonsai.visible {
    opacity: 1; /* Fade in the image */
    transform: translateX(0); /* Slide the image into view */
}
.programming {
    padding: 0 25% 5% 5%;
    align-items: center;
    
}
/* .soccer {
    width: 30%;;
    padding-right: 20%;
    float: right;
    opacity: 0; 
    transform: translateX(100px); 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
} */

/* .soccer.visible {
    opacity: 1; 
    transform: translateX(0); 
} */

/* 
.sports {
    padding: 0 5% 5% 25%;
} */

.third-section h2 {
    padding-bottom: 3%;
    padding-top: 3%;
}

.experience {
    align-items: center;
    padding: 0 20% 3% 20%;
}



.content {
    display: flex;
}
/* .ig {
    width: 10%;
} */




